@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&family=Crimson+Text:ital@1&display=swap');

/*General  Rules*/
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Rubik Wet Paint', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

/*Style the body*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/assets/images/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*Style the header*/
header {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0%;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Style the button*/
button {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.3s;
}

/*Add button hover*/
button:hover {
    background: rgb(112, 117, 117);
}

/*Style the icon in the button*/
.glass {
    width: 1.3rem;
}

/*Style the container div*/
.container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    border-radius: 27px;
    width: 90%;
    max-width: fit-content;
    color: black;
}

/*Style city h1 */
.city {
    font-family: 'Cairo', sans-serif;
}

/*Style the input field*/
input {
    border-radius: 20px;
}

/*Style the search bar*/
.search-bar {
    padding: 5px;
}

/*Style the placeholder*/
.search-bar::placeholder {
    font-family: 'Cairo', sans-serif;
    font-size: 1.3rem;
}

/*Style the description div*/
.description {
    text-transform: capitalize;
}

/*Style the footer*/
.github {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}