@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&family=Crimson+Text:ital@1&display=swap');

/*General  Rules*/
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Rubik Wet Paint', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

/*Style the body*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./background.webp");
    background-repeat: no-repeat;
    background-size: cover;
}